attrs~=21.2.0
certifi~=2021.10.8
cffi~=1.15.0
cfgv~=3.3.1
colorama~=0.4.4
configparser~=5.1.0
cryptography~=36.0.0
distlib~=0.3.3
Faker~=9.8.3
filelock~=3.4.0
h11~=0.12.0
identify~=2.4.0
idna~=3.3
iniconfig~=1.1.1
outcome~=1.1.0
pip~=21.3.1
platformdirs~=2.4.0
pluggy~=1.0.0
pycparser~=2.21
pyparsing~=3.0.6
pytest~=6.2.5
python-dateutil~=2.8.2
PyYAML~=6.0
py~=1.11.0
requests~=2.26.0
selenium~=4.1.0
setuptools~=59.0.1
six~=1.16.0
sniffio~=1.2.0
sortedcontainers~=2.4.0
toml~=0.10.2
trio~=0.19.0
urllib3~=1.26.7
virtualenv~=20.10.0
webdriver-manager==3.5.2
wsproto~=1.0.0
